
body {
    background-color: #acacac;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #000;
}

header {
    text-align: center;
    padding: 40px;
    background-color: #333;
    border-bottom: 2px solid #444;
    line-height: 2.5;
}

header h1 {
    font-size: 36px;
    color: #fff;
    background-color: #3f3f3f;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

header h2 {
    color: #ddd;
    font-weight: normal;
    font-size: 20px;
}

nav {
    background-color: #222;
    padding: 20px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 4px;
}

nav ul a:hover {
    background-color: #444;
    transform: scale(1.05);
    font-weight: bold;
    
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

aside {
    float: left;
    margin-left: 100px;
    text-align: center;
    background-color: #bdbdbd;
    padding: 15px;
    border-radius: 10px;

    
}

aside h2 {
    padding-bottom: 20px;
    color: #222;
}

aside img {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}


section h1 {
    font-size: 36px;
    text-align: center;
    color: #fff;
    background-color: #3f3f3f;
    margin: 0;
    padding: 10px 0;
}

article {
    text-align: justify;
    padding-left: 220px;
    width: 60%;
    margin: 40px;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 30px;
    margin:auto;
    
}

article h2 {
    font-size: 28px;
    color: #222;
    margin-bottom: 10px;
}

p {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;
}


footer {
    text-align: center;
    background-color: #333;
    padding: 15px;
    margin-top: 0px;
 
}

footer p {
    color: white;
    font-size: 14px;
}

table{
    border-style: solid;
    border-color: #000;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

table * {
    border-style: solid;
    padding: 5px;
}

article {
    text-align: center;  
    margin: 40px auto;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 20px;
}
